.tombol-TekanUntukKembali {
    border: 1px solid rgb(107, 134, 90)
    color rgb(231, 237, 238) ;
    background-color: rgb(227, 227, 242);
/*        top right bottom left       */
    border-radius: 30px 3px 30px 3px ;
    /* margin; 10px 10px 10px 10px */
    /* margin; 4px 10px */
    /*margin 4px */
    margin: 4px 5px 4px 5px ;
    padding: 4px 15px ;
}

.tombol-kembali{
    border: 0px ;
    background-color: rgb(204, 199, 214) ;
    border-radius: 10px 5px 10px 5px ;
    margin-bottom: 4px 4px 4px ;
    padding :4px 10px ;
}

.tombol-edit {
    border: 0px ;
    background-color: rgb(235, 235, 233) ;
    border-radius: 10px 5px 10px 5px ;
    margin-bottom: 4px 4px 4px ;
    padding: 4px 10px ;
}
/*      hover       */
.tombol-input:hover {
background-color: rgb(37, 8, 181);
}

.mytable th,td {
     padding: 15px;
     text-align: left;
     border-bottom: 1px solid rgb(30, 23, 100) ;
}
